#logo {
	width: 150px;
	height: auto;
}

#logo_white {
	width: 300px;
}

.svg{
	height: 100%;
	width: auto;
}

.btn:focus{
	box-shadow: none;
}

.btn-primary {
	text-transform: none;
	background-color: #715aff;
	border-color: #715aff;
	font-size: 14px;
}

a.btn-primary:focus, a.btn-primary:hover {
	background: #3E27CC;
	border-color: #3E27CC;
	color: #fff;
}

a:focus, a:hover {
    color: #55dde0;
}
#mainNav .navbar-nav>li>a {
	text-transform: none;
	font-size: 14px;
}

#mainNav .navbar-nav>li>a.active, #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover, #mainNav.navbar-shrink .navbar-nav>li>a:hover{
	color: #715aff!important;
}
#mainNav.navbar-shrink .navbar-nav>li>a{
	color: #777;
}

header.masthead {
	background: #003333;
	background: url("../img/background.svg") no-repeat;
	background-size: cover;
}

header.masthead > *, .header-content h1, .header-content a{
	z-index: 100;
	position: relative;
}

header.masthead::after {
	z-index: 0;
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 85%;
	height: 85%;
	background: url("../img/cpu.svg") no-repeat right bottom;
}


.section-heading, section.features .section-heading {
    margin-bottom: 50px;
}

section.download {
    position: relative;
    padding: 100px 0;
}

footer {
	background: #003333;
}

#criterios img {
    width: 100px;
    margin-bottom: 15px;
}

.bg-primary {
    background: #7059ff;
    background: -webkit-gradient(linear,left top,left bottom,from(#7059ff),to(#8959ff));
    background: linear-gradient(#7059ff,#8959ff);
    color: #eee;
}


.bg-primary .card {
	color: #392e81;
}

.bg-primary .text-muted {
	color: #e08dac;
}

section.features.bg-primary .feature-item i {
	background: #7059ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card p.text-muted {
	position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.bg-secondary {
    background: #55DDDF;
    background: -webkit-gradient(linear,left top,left bottom,from(#55DDDF),to(#4eb7cc));
    background: linear-gradient(180deg, #55DDDF, #4eb7cc);
    color: #eee;
}

.bg-secondary .card {
	color: #4eb7cc;
}

section.features.bg-secondary .feature-item i {
	background: #55DDDF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.features .feature-item i {
	background: #55dde0;
	background: -webkit-gradient(linear,right top,left top,from(#7dffd6),to(#55dde0));
    background: linear-gradient(to left,#7dffd6,#55dde0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.features .feature-item {
	margin-bottom: 20px;
}

section.features .feature-item h3 {
	font-size: 24px;
}

p + .btn {
    margin-top: 30px;
}

#programacao ul, #programacao ul li {
	list-style: none;
	padding: 0;
}

#programacao ul li {
	background: #5948c7;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

#programacao ul li:hover {
	background: #4a3ca7;
}

#programacao ul li h5 {
	font-weight: bold;
}

#programacao ul li p {
	font-size: 16px; 
}

@media screen and (min-aspect-ratio: 16/10) {
	section.features .feature-item {
	margin-bottom: 0px;
	}
	section.features .feature-item h3 {
    padding: 0 20px;
	}
}
@media (min-width: 992px){
	header.masthead {
	    min-height: fit-content;
	}
}

#mainNav.navbar-shrink {
    border-color: rgba(34,34,34,.1);
    background-color: #fefefe;
    box-shadow: 0px -5px 10px 0 #888;
}
