#logo {
	width: 150px;
	height: auto;
}

.svg{
	height: 100%;
	width: auto;
}

.btn:focus{
	box-shadow: none;
}

.btn-primary {
	text-transform: none;
	background-color: #715aff;
	border-color: #715aff;
		font-size: 14px;
}

a.btn-primary:focus, a.btn-primary:hover {
	background: #3E27CC;
	border-color: #3E27CC;
	color: #fff;
}

a:focus, a:hover {
    color: #55dde0;
}
#mainNav .navbar-nav>li>a {
	text-transform: none;
	font-size: 14px;
}

#mainNav .navbar-nav>li>a.active, #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover, #mainNav.navbar-shrink .navbar-nav>li>a:hover{
	color: #715aff!important;
}
#mainNav.navbar-shrink .navbar-nav>li>a{
	color: #777;
}

header.masthead {
	background: url("../img/background.svg") no-repeat;
	background-size: cover;
}

header.masthead > *, .header-content h1, .header-content a{
	z-index: 100;
	position: relative;
}

header.masthead::after {
	z-index: 0;
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 85%;
	height: 85%;
	background: url("../img/cpu.svg") no-repeat right bottom;
}


footer {
	background: #003333;
}

.bg-primary {
    background: #e08dac;
    background: -webkit-gradient(linear,left top,left bottom,from(#e08dac),to(#ffa1c4));
    background: linear-gradient(#e08dac,#ffa1c4);
    color: #eee;
}

.bg-primary .card {
	color: #845667;
}

.bg-primary .text-muted {
	color: #e08dac;
}

section.features .feature-item i {
	background: -webkit-gradient(linear,right top,left top,from(#55dde0),to(#615aff));
    background: linear-gradient(to left,#55dde0,#715aff);
    -webkit-background-clip: text;
}

section.features.bg-primary .feature-item i {
	background: #e08dac;
    -webkit-background-clip: text;
}
